<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="form myForm">
        <div class="col-md-12 text-center">
          <h1>New Formulario</h1>
        </div>
        <%= render 'form', formulario: @formulario %>
        <%= link_to 'Back', formularios_path, class:'btn btn-dark' %>
      </div>
    </div>
  </div>
</div>







