# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\life_\Desktop\CURSO 2020-21\CURSO 2020-21\DAW 2\Actividad_1_DAW2\ejercicio01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
